.bar{
    --background:#198645;
    .title{
        color: white;
        text-align: center;
    }
}

ion-img{
    resize: cover;
    width: auto;
    height: auto;
}
ion-content{

  // design for back ground color img
    .background-img{
        background: url('../../../assets/app-background.jpg');
        background-size: cover;
        height: 100vh;
        width: 100%;
        background-position: 20%;
    }

    // design the background filter <div> make the background more invisible.
    .background-cover{
        height: 100vh;
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        background: rgba(250,250,250,0.75);
    }

    .title-recipe{
        color: #198645;
        font-weight: bold;
    }
    ion-col{
        margin-right: 20px;
    }

    ion-item{
        --ion-item-background: transparent;
        --border-width: 0px;
        --inner-border-width: 0px;
        --highlight-color-focused:none;
        background-size: cover;
    }
    ion-card-title{
        font-size: 40px;
        color:  black;
    }
    ion-card-subtitle{
        font-size: 18px;
        color: #616060;

        .Subtitle{
            color: #1a8b47;
            text-decoration: none;
            font-weight: bolder;
        }
    }


    // Design for 3 button in detail page
    ion-button{
        margin-top: 10px;
        width: 250px;
        height: 50px;
        font-size: 15px;
        --background: #1a8b47;
        text-transform: capitalize;
        color: white;
        --border-radius: 20px !important;
    }
}

recipe-details{
    background-color: #ffffff;
}

.recipe-col{
    font-size: 2rem;
    column-gap: 5000px;
    text-align: center;
    font-weight: bold;
}

.recipe-title{
    font-size: 1rem;
    text-align: center;
    font-weight: normal;
}
