<ion-header>
  <ion-toolbar class="bar">
    
    <ion-buttons slot="start">
      <ion-back-button class="title" ></ion-back-button>
    </ion-buttons>
    <ion-title  class="title"  id="title">Recipe: {{ recipe?.recipeName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="background-img">
    <div class="background-cover">


      <ion-card-header>
        <ion-card-title>
          Recipe Detail
          <ion-card-subtitle> Cook
          <span class="Subtitle">Now!</span> 
          </ion-card-subtitle>
        </ion-card-title>
      </ion-card-header>

  <div class="recipe-col">
    <ion-grid>
      <!-- For the ingredients -->
      <ion-row> 
        <ion-col>
          <div class="recipe-col">Region </div>
          <p class= "recipe-title">{{recipe?.region}}</p>
        </ion-col>

        <!-- For the country -->
        <ion-col>
          <div class="recipe-col">Food</div>
          <p class= "recipe-title">{{ recipe?.recipeName}}</p>
        </ion-col>

        <!-- For the time to cook -->
        <ion-col>
          <div class="recipe-col">Time</div>
          <p class= "recipe-title">{{recipe?.timeToCook}}</p>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

  <h3 class="title-recipe"> The ingredients are: </h3>

    <ion-item >
      <p>
        {{recipe?.ingredients}}
      </p>
    </ion-item>


  <h3 class="title-recipe"> The instructions are: </h3>

    <ion-item>
      <p>
        {{recipe?.instructions}}
      </p>
    </ion-item>



  <!-- <p>It takes {{recipe?.timeToCook}} to cook this dish.</p> -->

    <ion-button expand="block" (click)="deleteRecipe(recipe.id, recipe.recipeName)">
      Delete Recipe 
    </ion-button>

    <ion-button expand="block" routerLink="/edit/{{recipe?.id}}" detail="true">
      Edit Recipe
  </ion-button>

  <div *ngIf="user">
    <ion-button  expand="block" (click)="save(recipe.id,recipe.recipeName,recipe.timeToCook);">
      Save Recipe
    </ion-button>
  </div>

</div>
</div>
</ion-content>
