<ion-header>
  <ion-toolbar class="bar">
    <ion-buttons slot="start">
      <ion-back-button class="title" defaultHref="/detail/{{recipe?.id}}" ></ion-back-button>
    </ion-buttons>

    <ion-title> {{recipe?.recipeName}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="background-img">
    <div class="background-cover">
  <ion-card-header>
    <ion-card-title>
      Currrently editing: {{recipe?.recipeName}}
      <ion-card-subtitle>
        Update <span class="Subtitle">Any Infomation</span> 
      </ion-card-subtitle>
    </ion-card-title>
  </ion-card-header>

            <!-- <h3>Currrently editing: {{recipe?.recipeName}}</h3> -->
  <form [formGroup]="editRecipe" (submit)="updateRecipe()">
  <ion-item>
    <ion-label>Recipe Name:</ion-label>
    <ion-input  
          value={{recipe?.recipeName}} 
          class="name"
          formControlName="recipeName"> 
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Region:</ion-label>
    <ion-input 
      value={{recipe?.region}} 
      class="region"
      formControlName="region"> 
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Ingredients:</ion-label>
    <ion-input 
    value={{recipe?.ingredients}} 
    class="ingredients"
    formControlName="ingredients"
    > </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Time:</ion-label>
    <ion-input 
    value={{recipe?.timeToCook}}
    class="time"
    formControlName="timeToCook"
     > </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Instructions:</ion-label>
    <ion-input
    value={{recipe?.instructions}}
    class="time"
    formControlName="instructions"
     > </ion-input>
  </ion-item>

  <ion-button expand="block" type="submit" >
    Update
  </ion-button>
</form>

</div>
  </div>
</ion-content>
