// design the toolbar
.bar{
    --background:#1a8b47;
    color: white;
    .title{
        text-align: center;
    }
}

ion-content{


    // design for back ground color img
    .background-img{
        background: url('../../assets/app-background.jpg');
        background-size: cover;
        height: 100vh;
        width: 100%;
        background-position: 20%;
    }

    // design the background filter <div> make the background more invisible.
    .background-cover{
        height: 100vh;
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        background: rgba(250,250,250,0.75);
    }


    ion-item {
        margin-bottom: -70px;  
        }

        // design for ionic tiles (Welcome)
        ion-card-title{
            font-size: 40px;
            color:  black;
        }
        .nameOfRecipe{
            color: #1a8b47;
            font-weight: bolder;
            font-size: 15pt;
        }
        ion-item{
            --ion-item-background: transparent;
            --border-width: 0px;
            --inner-border-width: 0px;
            --highlight-color-focused:none;
            background-size: cover;
            height: 200px;
            width: 400px;
        }

        ion-card-subtitle{
            font-size: 18px;
            color: #616060;

            .Subtitle{
                color: #1a8b47;
                text-decoration: none;
                font-weight: bolder;
            }
        }
        .timeLableOfRecipe{
            color: #2D3238;
            font-weight: bolder;
            font-size: 13pt;
            text-transform: capitalize;
        
        }
        .timeCookingOFRecipe{
            font-size: 12pt;
            color: #2D3238;
        }
        
        
        // design for the "Add" button
        ion-button{
            margin-top:40px;
            width: 250px;
            height: 50px;
            font-size: 15px;
            --background: #1a8b47;
            text-transform: capitalize;
            font-weight: normal;
            color: white;
            --border-radius: 20px !important;
        }

}