<ion-header [translucent]="true">
  <ion-toolbar class="bar">
    <ion-title class="title">
      Recipe List
    </ion-title>
  </ion-toolbar>
</ion-header>


<!-- 
  This page is used to display the recipes in google firestore
  Displays the name, region , ingredients and time to cook for each recipe
-->


<ion-content [fullscreen]="true" class="padding">
  <div class="background-img">
    <div class="background-cover">
  <!-- <ion-searchbar showCancelButton="focus"></ion-searchbar> -->
  <ion-card-header>
    <ion-card-title>
      Welcome Cooking Recipe App !
      <ion-card-subtitle>
        Let's <span class="Subtitle">Go!</span> 
      </ion-card-subtitle>
    </ion-card-title>
  </ion-card-header>
  <ion-item
        *ngFor="let recipe of recipeList | async"
        routerLink="/detail/{{recipe.id}}"
        detail="true">

        <!-- <ion-img src="../../assets/cooking_now.png"></ion-img> -->

      <ion-label>

        <ion-card>
          <ion-card-header>
            <ion-card-title class="nameOfRecipe">
            <!-- Add the small img for the Recipe list -->
            Name: {{recipe.recipeName}}
          </ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
          <ion-card-subtitle>
            <ion-icon name="timer"></ion-icon>
            <span class="timeLableOfRecipe">It will take: </span>
              <span  class="timeCookingOfRecipe">{{recipe.timeToCook}}</span>
            <!-- <p><ion-icon name="timer"></ion-icon>Takes {{ recipe.timeToCook }} to cook this.</p> -->
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
      </ion-label>


  </ion-item>
  <ion-button routerLink="/create">
    <ion-icon name="add-outline"></ion-icon>
    Add new recipe</ion-button>


  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/create">
      <ion-icon name="add-outline"></ion-icon>
      
    </ion-fab-button>
  </ion-fab> -->
  </div>
  </div>
</ion-content>
