.instructions{
    height: fit-content;
}

// design the toolbar
.bar{
    --background:#198645;
    .title{
        color: white;
        text-align: center;
    }

}


ion-content{

  // design for back ground color img
    .background-img{
        background: url('../../../assets/app-background.jpg');
        background-size: cover;
        height: 100vh;
        width: 100%;
        background-position: 20%;
    }

    .background-cover{
        height: 100vh;
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        background: rgba(250,250,250,0.75);
    }

    ion-card-title{
        font-size: 40px;
        color:  black;
    }

    ion-card-subtitle{
        font-size: 18px;
        color: #616060;

        .Subtitle{
            color: #1a8b47;
            text-decoration: none;
            font-weight: bolder;
        }
    }

    ion-label{
        font-weight: bold;
        color: #198645;
    }
    ion-item{
        margin-top: 15px; // space item in the form
        --ion-item-background: transparent;
        --border-width: 0px;
        --inner-border-width: 0px;
        --highlight-color-focused:none;
        border: 1px solid #198645;

        
        // desin for user input.
        ion-input{
            width: 210px;
            height: 50px;
            font-size: 16px;
            --padding-start: 20px; 
        }
    }

  // design for the "Add Recipe" button
  ion-button{
    margin-top:40px;
    width: 250px;
    height: 50px;
    font-size: 15px;
    margin-left: 50px;
    --background: #198645;
    text-transform: capitalize;
    font-weight: normal;
    color: white;
    --border-radius: 20px !important;
    }
}